<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <filter>
        <filter-name>PageFilter</filter-name>
        <filter-class>Filter.PageFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>PageFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>MainPage</servlet-name>
        <servlet-class>Controllers.MainPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Controllers.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminZone</servlet-name>
        <servlet-class>Controllers.AdminZone</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyFilter</servlet-name>
        <servlet-class>Filter.MyFilter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Library</servlet-name>
        <servlet-class>Controllers.Library</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Manage</servlet-name>
        <servlet-class>Controllers.Manage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Registor</servlet-name>
        <servlet-class>Controllers.Registor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Store</servlet-name>
        <servlet-class>Controllers.Store</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgetPassword</servlet-name>
        <servlet-class>Controllers.ForgetPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Profile</servlet-name>
        <servlet-class>Controllers.Profile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePassword</servlet-name>
        <servlet-class>Controllers.ChangePassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddItems</servlet-name>
        <servlet-class>Controllers.AddItems</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainPage</servlet-name>
        <url-pattern>/MainPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminZone</servlet-name>
        <url-pattern>/AdminZone</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyFilter</servlet-name>
        <url-pattern>/MyFilter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Library</servlet-name>
        <url-pattern>/Library</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Manage</servlet-name>
        <url-pattern>/Manage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Registor</servlet-name>
        <url-pattern>/Registor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Store</servlet-name>
        <url-pattern>/Store</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgetPassword</servlet-name>
        <url-pattern>/ForgetPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Profile</servlet-name>
        <url-pattern>/Profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePassword</servlet-name>
        <url-pattern>/ChangePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddItems</servlet-name>
        <url-pattern>/AddItems</url-pattern>
    </servlet-mapping>
</web-app>
